# intermediate files
Win32/
x64/
ipch/
resources/out/
tinyxml2/tinyxml2-cbp/bin/
tinyxml2/tinyxml2-cbp/obj/
tinyxml2/bin/
tinyxml2/temp/
.artifacts/
.projects/
*.sdf
*.suo
*.opensdf
*.user
*.depend
*.layout
*.o
*.vc.db
*.vc.opendb
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
/build/CMakeCache.txt
/build/CMakeFiles/06998853611d70a0ea506b573f0f8863/dream.xml.rule
/build/CMakeFiles/06998853611d70a0ea506b573f0f8863/empty.xml.rule
/build/CMakeFiles/06998853611d70a0ea506b573f0f8863/utf8test.xml.rule
/build/CMakeFiles/06998853611d70a0ea506b573f0f8863/utf8testverify.xml.rule
/build/CMakeFiles/3.7.1/CMakeCCompiler.cmake
/build/CMakeFiles/3.7.1/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.7.1/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.7.1/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/3.7.1/CMakeRCCompiler.cmake
/build/CMakeFiles/3.7.1/CMakeSystem.cmake
/build/CMakeFiles/3.7.1/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.7.1/CompilerIdC/CompilerIdC.exe
/build/CMakeFiles/3.7.1/CompilerIdC/CompilerIdC.vcxproj
/build/CMakeFiles/3.7.1/CompilerIdC/Debug/CMakeCCompilerId.obj
/build/CMakeFiles/3.7.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build/CMakeFiles/3.7.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.7.1/CompilerIdCXX/CompilerIdCXX.exe
/build/CMakeFiles/3.7.1/CompilerIdCXX/CompilerIdCXX.vcxproj
/build/CMakeFiles/3.7.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/build/CMakeFiles/3.7.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/build/CMakeFiles/3.7.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/build/CMakeFiles/3.7.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/c8dfa162df63a3785cf08dbed260eaf1/DATA_COPY.rule
/build/CMakeFiles/c8dfa162df63a3785cf08dbed260eaf1/INSTALL_force.rule
/build/CMakeFiles/c8dfa162df63a3785cf08dbed260eaf1/generate.stamp.rule
/build/CMakeFiles/c8dfa162df63a3785cf08dbed260eaf1/uninstall.rule
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/feature_tests.bin
/build/CMakeFiles/feature_tests.cxx
/build/CMakeFiles/generate.stamp
/build/CMakeFiles/generate.stamp.list
/build/DATA_COPY.vcxproj
/build/DATA_COPY.vcxproj.filters
/build/INSTALL.vcxproj
/build/INSTALL.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/cmake_install.cmake
/build/cmake_uninstall.cmake
/build/tinyxml2.pc
/build/tinyxml2.sln
/build/tinyxml2.vcxproj
/build/tinyxml2.vcxproj.filters
/build/uninstall.vcxproj
/build/uninstall.vcxproj.filters
/build/xmltest.vcxproj
/build/xmltest.vcxproj.filters
